<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Resume</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Edit Resume</h1>
    <form th:action="@{|/resumes/${resume.id}/edit|}" th:object="${resume}" method="post">
        <!-- Personal Information -->
        <div class="mb-4">
            <div class="form-group mb-3 " hidden="hidden">
                <label for="id" class="form-label">id</label>
                <input type="text" id="id" th:field="*{id}" class="form-control" required>
                <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
                     class="alert alert-danger mt-2"></div>
            </div>
            <div class="form-group mb-3" hidden="hidden">
                <label for="applicantEmail" class="form-label">applicantEmail</label>
                <input type="text" id="applicantEmail" th:field="*{applicantEmail}" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" required>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                     class="alert alert-danger mt-2"></div>
            </div>
            <div class="form-group mb-3">
                <label for="expectedSalary" class="form-label">Expected Salary</label>
                <input type="number" id="expectedSalary" th:field="*{expectedSalary}" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="categoryId" class="form-label">Category</label>
                <select id="categoryId" th:field="*{categoryId}" class="form-select">
                    <option th:each="category : ${categories}" th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select>
            </div>
            <input type="hidden" th:if="${_csrf != null}"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
        </div>

        <!-- Education -->
        <h2 class="mb-3">Education</h2>
        <div id="education-section">
            <div th:each="education, iterStat : ${resume.education}" class="border rounded p-3 mb-4 education-item">
                <div class="form-group mb-3" hidden="hidden">
                    <label for="education[__${iterStat.index}__].program" class="form-label">id</label>
                    <input type="text" id="education[__${iterStat.index}__].id"
                           th:field="*{education[__${iterStat.index}__].id}"
                           class="form-control">
                    <div th:if="${#fields.hasErrors('education[__${iterStat.index}__].id')}"
                         th:errors="*{education[__${iterStat.index}__].id}" class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3" hidden="hidden">
                    <label for="education[__${iterStat.index}__].program" class="form-label">ResumeId</label>
                    <input type="text" id="education[__${iterStat.index}__].resumeId"
                           th:field="*{education[__${iterStat.index}__].resumeId}"
                           class="form-control">
                    <div th:if="${#fields.hasErrors('education[__${iterStat.index}__].resumeId')}"
                         th:errors="*{education[__${iterStat.index}__].resumeId}" class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="education[__${iterStat.index}__].institution" class="form-label">Institution</label>
                    <input type="text" id="education[__${iterStat.index}__].institution"
                           th:field="*{education[__${iterStat.index}__].institution}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('education[__${iterStat.index}__].institution')}"
                         th:errors="*{education[__${iterStat.index}__].institution}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="education[__${iterStat.index}__].program" class="form-label">Program</label>
                    <input type="text" id="education[__${iterStat.index}__].program"
                           th:field="*{education[__${iterStat.index}__].program}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('education[__${iterStat.index}__].program')}"
                         th:errors="*{education[__${iterStat.index}__].program}" class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="education[__${iterStat.index}__].degree" class="form-label">Degree</label>
                    <input type="text" id="education[__${iterStat.index}__].degree"
                           th:field="*{education[__${iterStat.index}__].degree}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('education[__${iterStat.index}__].degree')}"
                         th:errors="*{education[__${iterStat.index}__].degree}" class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="education[__${iterStat.index}__].startDate" class="form-label">Start Date</label>
                    <input type="date" id="education[__${iterStat.index}__].startDate"
                           th:field="*{education[__${iterStat.index}__].startDate}"
                           class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="education[__${iterStat.index}__].endDate" class="form-label">End Date</label>
                    <input type="date" id="education[__${iterStat.index}__].endDate"
                           th:field="*{education[__${iterStat.index}__].endDate}"
                           class="form-control">
                </div>
                <button type="button" class="btn btn-danger remove-education">Remove</button>
            </div>
        </div>
        <button type="button" id="add-education" class="btn btn-secondary mb-4">Add Education</button>

        <!-- Experience -->
        <h2 class="mb-3">Experience</h2>
        <div id="experience-section">
            <div th:each="experience, iterStat : ${resume.experience}" class="border rounded p-3 mb-4 experience-item">
                <div class="form-group mb-3" hidden="hidden">
                    <label for="experience[__${iterStat.index}__].position" class="form-label">id</label>
                    <input type="text" id="experience[__${iterStat.index}__].id"
                           th:field="*{experience[__${iterStat.index}__].id}"
                           class="form-control">
                    <div th:if="${#fields.hasErrors('experience[__${iterStat.index}__].id')}"
                         th:errors="*{experience[__${iterStat.index}__].id}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3" hidden="hidden">
                    <label for="experience[__${iterStat.index}__].position" class="form-label">ResumeId</label>
                    <input type="text" id="experience[__${iterStat.index}__].resumeId"
                           th:field="*{experience[__${iterStat.index}__].resumeId}"
                           class="form-control">
                    <div th:if="${#fields.hasErrors('experience[__${iterStat.index}__].resumeId')}"
                         th:errors="*{experience[__${iterStat.index}__].resumeId}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="experience[__${iterStat.index}__].companyName" class="form-label">Company Name</label>
                    <input type="text" id="experience[__${iterStat.index}__].companyName"
                           th:field="*{experience[__${iterStat.index}__].companyName}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('experience[__${iterStat.index}__].companyName')}"
                         th:errors="*{experience[__${iterStat.index}__].companyName}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="experience[__${iterStat.index}__].position" class="form-label">Position</label>
                    <input type="text" id="experience[__${iterStat.index}__].position"
                           th:field="*{experience[__${iterStat.index}__].position}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('experience[__${iterStat.index}__].position')}"
                         th:errors="*{experience[__${iterStat.index}__].position}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="experience[__${iterStat.index}__].responsibilities"
                           class="form-label">Responsibilities</label>
                    <textarea id="experience[__${iterStat.index}__].responsibilities"
                              th:field="*{experience[__${iterStat.index}__].responsibilities}"
                              class="form-control" required></textarea>
                    <div th:if="${#fields.hasErrors('experience[__${iterStat.index}__].responsibilities')}"
                         th:errors="*{experience[__${iterStat.index}__].responsibilities}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="experience[__${iterStat.index}__].startDate" class="form-label">Start Date</label>
                    <input type="text" id="experience[__${iterStat.index}__].startDate"
                           th:field="*{experience[__${iterStat.index}__].startDate}"
                           class="form-control" placeholder="yyyy-MM-dd">

                </div>

                <div class="form-group mb-3">
                    <label for="experience[__${iterStat.index}__].endDate" class="form-label">End Date</label>
                    <input type="text" id="experience[__${iterStat.index}__].endDate"
                           th:field="*{experience[__${iterStat.index}__].endDate}"
                           class="form-control" placeholder="yyyy-MM-dd">

                </div>

                <button type="button" class="btn btn-danger remove-experience">Remove</button>
            </div>
        </div>
        <button type="button" id="add-experience" class="btn btn-secondary mb-4">Add Experience</button>

        <!-- Contact Info -->
        <h2 class="mb-3">Contact Info</h2>
        <div id="contact-info-section">
            <div th:each="contactInfo, iterStat : ${resume.contactInfo}"
                 class="border rounded p-3 mb-4 contact-info-item">
                <div class="form-group mb-3" hidden="hidden">
                    <label for="contactInfo[__${iterStat.index}__].typeId" class="form-label">id</label>
                    <input type="number" id="contactInfo[__${iterStat.index}__].id"
                           th:field="*{contactInfo[__${iterStat.index}__].id}"
                           class="form-control">
                    <div th:if="${#fields.hasErrors('contactInfo[__${iterStat.index}__].id')}"
                         th:errors="*{contactInfo[__${iterStat.index}__].id}" class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3" hidden="hidden">
                    <label for="contactInfo[__${iterStat.index}__].typeId" class="form-label">resumeId</label>
                    <input type="number" id="contactInfo[__${iterStat.index}__].resumeId"
                           th:field="*{contactInfo[__${iterStat.index}__].resumeId}"
                           class="form-control">
                    <div th:if="${#fields.hasErrors('contactInfo[__${iterStat.index}__].resumeId')}"
                         th:errors="*{contactInfo[__${iterStat.index}__].resumeId}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="contactInfo[__${iterStat.index}__].typeId" class="form-label">Type</label>
                    <input type="number" id="contactInfo[__${iterStat.index}__].typeId"
                           th:field="*{contactInfo[__${iterStat.index}__].typeId}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('contactInfo[__${iterStat.index}__].typeId')}"
                         th:errors="*{contactInfo[__${iterStat.index}__].typeId}" class="alert alert-danger mt-2"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="contactInfo[__${iterStat.index}__].contactValue" class="form-label">Value</label>
                    <input type="text" id="contactInfo[__${iterStat.index}__].contactValue"
                           th:field="*{contactInfo[__${iterStat.index}__].contactValue}"
                           class="form-control" required>
                    <div th:if="${#fields.hasErrors('contactInfo[__${iterStat.index}__].contactValue')}"
                         th:errors="*{contactInfo[__${iterStat.index}__].contactValue}"
                         class="alert alert-danger mt-2"></div>
                </div>
                <button type="button" class="btn btn-danger remove-contact-info">Remove</button>
            </div>
        </div>
        <button type="button" id="add-contact-info" class="btn btn-secondary mb-4">Add Contact Info</button>

        <!-- Submit Button -->
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">Save</button>
            <a th:href="@{/myResumes}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Добавление образования
        const addEducationBtn = document.getElementById("add-education");
        addEducationBtn.addEventListener("click", function () {
            const educationSection = document.getElementById("education-section");
            const educationItem = document.createElement("div");
            educationItem.classList.add("border", "rounded", "p-3", "mb-4", "education-item");
            educationItem.innerHTML = `
            <div class="form-group mb-3">
                <label for="newEducationInstitution" class="form-label">Institution</label>
                <input type="text" id="newEducationInstitution" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="newEducationProgram" class="form-label">Program</label>
                <input type="text" id="newEducationProgram" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="newEducationDegree" class="form-label">Degree</label>
                <input type="text" id="newEducationDegree" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="newEducationStartDate" class="form-label">Start Date</label>
                <input type="date" id="newEducationStartDate" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="newEducationEndDate" class="form-label">End Date</label>
                <input type="date" id="newEducationEndDate" class="form-control">
            </div>
            <button type="button" class="btn btn-danger remove-education">Remove</button>
        `;
            educationSection.appendChild(educationItem);
        });

        // Удаление образования
        document.addEventListener("click", function (event) {
            if (event.target.classList.contains("remove-education")) {
                event.target.parentElement.remove();
            }
        });

        // Добавление опыта
        const addExperienceBtn = document.getElementById("add-experience");
        addExperienceBtn.addEventListener("click", function () {
            const experienceSection = document.getElementById("experience-section");
            const experienceItem = document.createElement("div");
            experienceItem.classList.add("border", "rounded", "p-3", "mb-4", "experience-item");
            experienceItem.innerHTML = `
            <div class="form-group mb-3">
                <label for="newExperienceCompanyName" class="form-label">Company Name</label>
                <input type="text" id="newExperienceCompanyName" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="newExperiencePosition" class="form-label">Position</label>
                <input type="text" id="newExperiencePosition" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="newExperienceResponsibilities" class="form-label">Responsibilities</label>
                <textarea id="newExperienceResponsibilities" class="form-control" required></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="newExperienceStartDate" class="form-label">Start Date</label>
                <input type="date" id="newExperienceStartDate" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="newExperienceEndDate" class="form-label">End Date</label>
                <input type="date" id="newExperienceEndDate" class="form-control">
            </div>
            <button type="button" class="btn btn-danger remove-experience">Remove</button>
        `;
            experienceSection.appendChild(experienceItem);
        });

        // Удаление опыта
        document.addEventListener("click", function (event) {
            if (event.target.classList.contains("remove-experience")) {
                event.target.parentElement.remove();
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        // Добавление контактов
        const addContactBtn = document.getElementById("add-contact-info");
        addContactBtn.addEventListener("click", function () {
            const contactSection = document.getElementById("contact-info-section");
            const contactItem = document.createElement("div");
            contactItem.classList.add("border", "rounded", "p-3", "mb-4", "contact-info-item");
            contactItem.innerHTML = `
            <div class="form-group mb-3">
                <label for="newContactType" class="form-label">Type</label>
                <input type="number" id="newContactType" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="newContactValue" class="form-label">Value</label>
                <input type="text" id="newContactValue" class="form-control" required>
            </div>
            <button type="button" class="btn btn-danger remove-contact-info">Remove</button>
        `;
            contactSection.appendChild(contactItem);
        });

        // Удаление контактов
        document.addEventListener("click", function (event) {
            if (event.target.classList.contains("remove-contact-info")) {
                event.target.parentElement.remove();
            }
        });
    });

</script>
</body>
</html>
