<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <title>Document</title>

</head>
<body>
<div class="container">

    <form method="post" action="#" class="container">
        <div class="form-group row">
            <label for="name" class="control-label">Name</label>
            <input type=text name="name" class="form-control"/>
        </div>

        <fieldset id="phones" name="phones" class="form-row">
            <div class="form-group col-sm-2 clonable">
                <label for="label" class="control-label">Label</label>
                <input type=text name="label" class="form-control"/>
            </div>

            <div class="form-group col-sm-2 clonable">
                <label for="number" class="control-label">Phone</label>
                <input type=text name="number" class="form-control"/>
            </div>

            <div class="form-group col-sm-1">
                <input id="btnaddphone" type="button" value="Add" class="btn btn-primary"/>
            </div>
        </fieldset>

        <div class="form-group row">
            <input type="submit" value="Submit" class="btn btn-success col-sm-2"/>
        </div>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function toObject(arr) {
        var rv = {};
        for (var i = 0; i < arr.length; ++i) {
            if (i % 2 == 0) {
                rv['name'] = arr[i];
            } else {
                rv['value'] = arr[i];
            }
        }
        return rv;
    }

    $("form").on("submit", function (event) {
        event.preventDefault();
        var textInputs = document.body.querySelectorAll('input[type="text"]'),
            nameArr = [],
            phonesArr = [],
            phonesvalArr = [];
        for (i = 0; i < textInputs.length; i++) {
            var entry = [],
                inputnameVal = textInputs[i].name,
                inputvalueVal = textInputs[i].value;
            if (i == 0) {
                nameArr.push(inputnameVal);
                nameArr.push(inputvalueVal);
                nameArr = toObject(nameArr);
                phonesArr.push('phones');
            } else {
                entry.push(inputnameVal);
                entry.push(inputvalueVal);
                entry = toObject(entry);
                phonesvalArr.push(entry);
            }
            if (textInputs.length == i + 1) {
                phonesArr.push(phonesvalArr);
                phonesArr = toObject(phonesArr);
                var output = "{" + JSON.stringify(nameArr) + "," + JSON.stringify(phonesArr) + "}";
                console.log(output);
            }
        }

    });
    $('#btnaddphone').click(function (event) {
        var $btndiv = $('#btnaddphone').parent();
        $('.clonable').clone().insertBefore($btndiv);
    })

</script>
</body>
</html>
